body {
margin: 0;
font-size: 16px;
font-family:'Avenir Next', sans-serif;
background-color: #FCFDFF;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
.subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 10rem;
}
.maincontent {
  margin-top: 14rem;
}
.frontfeature > h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.margintop {
  margin-top: 10rem;
}
.frontfeature {
  font-size: 2rem;
}
.center {
  text-align: center;
}
.grey {
  background-color: #cacaca;
}
.bigcta {
    font-size: 2.5rem;
    font-weight: 600;
}
.frontcta {

  margin-top: 5rem;
}
.avatar {
  border-radius: 50px;
  width: 5rem;
}
.quotewrapper {
  background-color: #cacaca;
}
.commonquoteelements {
  font-size: 2rem;
  font-weight: 700;
  display: block;
}
.commontquotelabels {
  font-size: 2rem;
  font-weight: 400;
  display: block;
  color: #737373;
}
.deliverydatevalue {
font-size: 3rem;
}
.finalpricevalue {
font-size: 3rem;
}
.quotewrapper {
  position: relative;
  padding: 3rem;
  display: inline-block;
  border-radius: 3px;
  background-color: #E8E8E8;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #D7D7D7;
}
.quoteorder {
  background-color: grey;
  padding: 1rem;
  position: absolute;
  top: 95%;
}
.quotefeatures {
  padding-left: 8rem;
  font-size: 2.3rem;
}
form {
  font-size: 2rem;
  font-weight: 400;
}
form > div > label {
  font-weight: 400;
}
#formelement {
  display: inline-block;
}
.right {
  float: right;
}
.dashboardrow {
  background-color: #cacaca;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}
.userrow {
  background-color: #cacaca;
  padding: 1.5rem;
  margin-right: 0.5rem;
}
.bigimage {
  padding: 6rem 0rem 6rem 0rem;
  background-image: url(http://dfsm9194vna0o.cloudfront.net/976356-0-bg1.jpg)
}
.buttoncustom {
  text-align: center;
  font-size: 2rem;
  border-radius: 3px;
  background-color: #4497f6;
  color: white;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
}
.thumbnailitem {
  margin: 0 auto;
  display: block;
      width: 5rem;
    text-align: center;
    /* padding: 1rem; */
    /* margin: 0.5rem; */
    border-radius: 3px;
}
.thumbnailitembig {
  margin: 0 auto;
  display: block;
      width: 15rem;
    text-align: center;
    /* padding: 1rem; */
    /* margin: 0.5rem; */
    border-radius: 3px;
}

.testimonials  {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  color: white;
  background-color: #114588;
}
.menuitem {
  display: inline-block;
  margin: 0rem 2rem 0rem 2rem;
}
.breadcrumb {
  background-color: #f1f1f1;
}
.topbread {
font-size: 2rem;
}
.bottombread {
font-size: 1.4rem;
}
@font-face {
    font-family:'Avenir Next';
    src:url("http://petithacks.com/app/assests/fonts/AvenirNextLTPro-Regular.otf");
    src:url("http://petithacks.com/app/assests/fonts/AvenirNextLTPro-Bold.otf");
    src:url("http://petithacks.com/app/assests/fonts/GothamBlack.otf");
    src:url("http://petithacks.com/app/assests/fonts/GothamBold.otf")
}

body > div:nth-child(5) > table > thead > tr > th:nth-child(2) {
background-color: #4497f6;
font-size: 3rem;
font-weight: 600;
color: white;
}
body > div:nth-child(5) > table > thead > tr > th:nth-child(3) {
background-color: #4497f6;
font-size: 3rem;
font-weight: 600;
color: white;

}
.toptableheading {
display: block;
font-size: 2rem;
text-align: center;
}
.bottomtableheading {
display: block;
font-size: 2.5rem;
text-align: center;
}
.presupuestoCTA {
  text-align: center;
  font-size: 2rem;
  border-radius: 3px;
  background-color: #4497f6;
  color: white;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
}
.heading2 {
  font-weight: 600;
  font-size: 2.3rem !important;
  margin: 0rem 2rem 0rem 2rem;
}
.menuitem2 {
  font-size: 2rem;
  margin: 0rem 2rem 0rem 2rem;
}
.serviciodiv {
  background-color: #4497f6;
  color: white;
  text-align: center;
  font-size: 2rem;
  border-radius: 3px;
  padding: 2rem 3rem 2rem 3rem;
  margin: 1rem;
}
.serviciodiv > a {
  color: white;
}
body > div.ss-form-container > div.ss-top-of-page > div > h1 {
  color: yellow !important;
}
.footer {
    margin-top: 2rem;
    color: black !important;
    background-color: #dadada;
    padding: 0.5rem;
}
.fullwidthfooter {
  color: black !important;
  background-color: #dadada;
}
.footeritem {
  margin-left: 2rem;
}